<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}
    <p>Currently Updating, we'll be back shortly</p>
    {{> footer}}
  </body>
</html>
